<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Contenido</h1>
        <p class="lead">
            El autor se reserva el derecho de no ser responsable de la actualidad, exactitud, integridad o calidad de la información
            proporcionada. Todos los lanzamientos en este sitio y páginas relacionadas están ahí solo con fines informativos.
        </p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Derechos de autor</h1>
        <p class="lead">Pokémon y todos los nombres e imágenes asociados son © de Nintendo 1996-2019. Este es un sitio creado por fanáticos, y
        de ninguna manera está afiliado o autorizado por Pokemon, Nintendo o Niantic. El autor pretendía no utilizar ningún
        material con derechos de autor para la publicación o, si no es posible, indicar los derechos de autor del objeto
        respectivo. Cualquier derecho de autor preexistente permanece con el/los propietario(s) de los derechos de autor, ya
        sea explícitamente declarado o no. Los derechos de autor de cualquier material creado por el autor están reservados. No
        se permite la duplicación o uso de objetos como diagramas, imágenes, sonidos, videos, páginas web o textos en otras
        publicaciones electrónicas o impresas sin el permiso expreso del autor. Se permite imprimir una sola copia o hacer una
        sola copia electrónica del contenido del sitio en un disco duro para uso personal, no comercial, siempre que el
        contenido y los derechos de autor no se alteren. Se prohíbe cualquier otra copia, re-publicación o distribución de
        contenido a través de acciones humanas o robóticas sin el permiso previo por escrito del autor.</p>
    </div>
</div>