app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 80px;
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}






// animated fadeIn fast

// Animaciones

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}